/*CSS*/

body	{
	background: #FFFFFF; ;
	color: #000000;
	font-family: 'Roboto', serif;
	font-size: 16px;
	font-weight: lighter;
}

/* Main title */
h1	{
	font-family: 'Indie Flower', cursive;
	color: black;
	font-size: 72px;
	font-weight: 400;
}


/* Event */
h2	{
	font-family: 'Roboto';
	color: #000000;
	font-size: 32px;
	font-weight: 500;

}

/* Subtitle */
h3	{
	font-family: "Roboto";
	color: #000000;
	font-size: 18px;
	font-weight: 500;
}

/* link */

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	}	

/* link 2 */
??


/* btn events */
.btn-grey {
	background-color: rgb(201,201,201);
	color: #090909;
	padding: 0px;
	border-radius: 0px;
	width: 280px;
	height: 54px;
	text-align: center;
}




/* card */
.card {
	background-color: white;
	padding: 0px;
	width: 400px;
	height: 240px;
}
.text-card {
	background-color: ##E8DED2;
	width: 400px ;
	height: 65px;

}

.big-card {
	background-color: white;
	padding: 50% ;
	width: 593px;
	height: 474px;
}

/* avatar */
.avatar {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

nav {
	width: 100%;
	height:100px;
	line-height;
}

.navlist {

}

.navlist li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

.navlist li a  {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 0 20px;
}



/*CSS FOR EVENTS PAGE*/

/* GENERAL */

.PostalCode p{

	position: absolute;
	width: 355px;
	height: 38px;
	margin-left: 20px;
	margin-top: 100px;
}

.TypeEvent p{
	position: absolute;
	margin-left: 20px;
	margin-top: 175px;
}




/*CSS FOR REGISTERING PAGE*/


body{
	background-image: url("images/background.png");
}



#logo{
	position: absolute;
	width: 202px;
	height: 106px;
	margin-top: 5px;
}

h1{
	position: absolute;
	font-family: Indie Flower;
	font-size: 72px;
	font-weight: 400;
	margin: 200px 0px 0px 10px;
}

/*Form*/


.CreateAccount{
	font-family: Roboto;
	position: absolute;
	width: 712px;
	height: 761px;
	margin-left: 416px;
	margin-top: 109px;
}

h3{
	font-weight: bold;
	position: absolute;
	width: 355px;
	height: 34px;
	margin-left: 276px;
    margin-top: 20px;

}
form{
	margin: 60px 0 20px 0;

}

label{
	font-size: 24px;
	margin-left: 90px;
	color: black;
	text-align: center;
}

input[type="text"]{
	padding: 10px;
	font-size: 24px;
	margin-left: 360px;
	border: 2px solid #ddd;
	border-radius: 3px;
	background-color: #BDBDBD;
}

.button-submit{
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: #BDBDBD;
	border-style: none;
	border-radius: 3px;
	margin-left: 375px;
}


/*Contact*/

.Contact p{
	font-family: Roboto;
	position: absolute;
	width: 484px;
	height: 32px;
	margin-left: 500px;
	margin-top: 983px;
	padding-bottom: 50px;
}



/*CSS FOR REGISTERING PAGE*/